body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 46px;
  height: 46px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 46px;
}

.hideHistoryDiv{
  display:none;
}

.square:focus {
  background: rgb(241, 239, 239);
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: block;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


/*
* src/styles/board.css
*/
.game-info {
  margin-top: 8px;
  color: green;
  /* margin-bottom: 8px; */
  font: 700 18px / 1.618 sans-serif;
  /* list-style-type: none; */
}

.list{
    list-style-type: none; 
}

/*
* src/styles/buttons.css
*/
/* Buttons */
.btn {
  padding: 5px 16px;
  /* margin-top: 18px; */
  font-size: 14px;
  color: #fff;
  background-color: #3498db;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .25s ease-in-out;
}

.btn:hover {
  background-color: #2980b9;
}